[Unit]
Description=heat-api
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start heat-api || docker run --detach=true --link=salt-master:salt --name=heat-api heat-api'
ExecStop=/bin/bash  -c 'docker stop  heat-api'

[Install]
WantedBy=multi-user.target
