[Unit]
Description=swift-object
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start swift-object || docker run --detach=true --link=salt-master:salt --name=swift-object swift-object'
ExecStop=/bin/bash  -c 'docker stop  swift-object'

[Install]
WantedBy=multi-user.target
