[Unit]
Description=heat-api-cloudwatch
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start heat-api-cloudwatch || docker run --detach=true --link=salt-master:salt --name=heat-api-cloudwatch heat-api-cloudwatch'
ExecStop=/bin/bash  -c 'docker stop  heat-api-cloudwatch'

[Install]
WantedBy=multi-user.target
