[Unit]
Description=heat-api-cfn
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start heat-api-cfn || docker run --detach=true --link=salt-master:salt --name=heat-api-cfn heat-api-cfn'
ExecStop=/bin/bash  -c 'docker stop  heat-api-cfn'

[Install]
WantedBy=multi-user.target
