[Unit]
Description=salt-syndic
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start salt-syndic || docker run --detach=true --name=salt-syndic salt-syndic'
ExecStop=/bin/bash  -c 'docker stop  salt-syndic'

[Install]
WantedBy=multi-user.target
