[Unit]
Description=nova-conductor
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start nova-conductor || docker run --detach=true --link=salt-master:salt --name=nova-conductor nova-conductor'
ExecStop=/bin/bash  -c 'docker stop  nova-conductor'

[Install]
WantedBy=multi-user.target
