[Unit]
Description=coreos-ipxe-server
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start coreos-ipxe-server || docker run --detach=true --link=salt-master:salt --name=coreos-ipxe-server coreos-ipxe-server'
ExecStop=/bin/bash  -c 'docker stop  coreos-ipxe-server'

[Install]
WantedBy=multi-user.target
