[Unit]
Description=rabbitmq-server
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start rabbitmq-server || docker run --detach=true --link=salt-master:salt --name=rabbitmq-server rabbitmq-server'
ExecStop=/bin/bash  -c 'docker stop  rabbitmq-server'

[Install]
WantedBy=multi-user.target
