[Unit]
Description=nova-network
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start nova-network || docker run --detach=true --link=salt-master:salt --name=nova-network nova-network'
ExecStop=/bin/bash  -c 'docker stop  nova-network'

[Install]
WantedBy=multi-user.target
