[Unit]
Description=nova-api
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start nova-api || docker run --detach=true --link=salt-master:salt --name=nova-api nova-api'
ExecStop=/bin/bash  -c 'docker stop  nova-api'

[Install]
WantedBy=multi-user.target
