[Unit]
Description=hadoop-hdfs-datanode
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start hadoop-hdfs-datanode || docker run --detach=true --link=salt-master:salt --name=hadoop-hdfs-datanode hadoop-hdfs-datanode'
ExecStop=/bin/bash  -c 'docker stop  hadoop-hdfs-datanode'

[Install]
WantedBy=multi-user.target
