[Unit]
Description=skydns2
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start skydns2 || docker run --detach=true --link=salt-master:salt --name=skydns2 skydns2'
ExecStop=/bin/bash  -c 'docker stop  skydns2'

[Install]
WantedBy=multi-user.target
