[Unit]
Description=nova-xvpvncproxy
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start nova-xvpvncproxy || docker run --detach=true --link=salt-master:salt --name=nova-xvpvncproxy nova-xvpvncproxy'
ExecStop=/bin/bash  -c 'docker stop  nova-xvpvncproxy'

[Install]
WantedBy=multi-user.target
