[Unit]
Description=ceilometer-collector
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start ceilometer-collector || docker run --detach=true --link=salt-master:salt --name=ceilometer-collector ceilometer-collector'
ExecStop=/bin/bash  -c 'docker stop  ceilometer-collector'

[Install]
WantedBy=multi-user.target
