[Unit]
Description=neutron-server
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start neutron-server || docker run --detach=true --link=salt-master:salt --name=neutron-server neutron-server'
ExecStop=/bin/bash  -c 'docker stop  neutron-server'

[Install]
WantedBy=multi-user.target
