[Unit]
Description=nova-scheduler
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start nova-scheduler || docker run --detach=true --link=salt-master:salt --name=nova-scheduler nova-scheduler'
ExecStop=/bin/bash  -c 'docker stop  nova-scheduler'

[Install]
WantedBy=multi-user.target
