[Unit]
Description=mysql-server
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start mysql-server || docker run --detach=true --link=salt-master:salt --name=mysql-server mysql-server'
ExecStop=/bin/bash  -c 'docker stop  mysql-server'

[Install]
WantedBy=multi-user.target
