[Unit]
Description=ceph-osd
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start ceph-osd || docker run --detach=true --link=salt-master:salt --name=ceph-osd ceph-osd'
ExecStop=/bin/bash  -c 'docker stop  ceph-osd'

[Install]
WantedBy=multi-user.target
