[Unit]
Description=cinder-volume
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start cinder-volume || docker run --detach=true --link=salt-master:salt --name=cinder-volume cinder-volume'
ExecStop=/bin/bash  -c 'docker stop  cinder-volume'

[Install]
WantedBy=multi-user.target
