[Unit]
Description=skydns1
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start skydns1 || docker run --detach=true --link=salt-master:salt --name=skydns1 skydns1'
ExecStop=/bin/bash  -c 'docker stop  skydns1'

[Install]
WantedBy=multi-user.target
