[Unit]
Description=hadoop-hdfs-namenode
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start hadoop-hdfs-namenode || docker run --detach=true --link=salt-master:salt --name=hadoop-hdfs-namenode hadoop-hdfs-namenode'
ExecStop=/bin/bash  -c 'docker stop  hadoop-hdfs-namenode'

[Install]
WantedBy=multi-user.target
