[Unit]
Description=sheepdog
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start sheepdog || docker run --detach=true --link=salt-master:salt --name=sheepdog sheepdog'
ExecStop=/bin/bash  -c 'docker stop  sheepdog'

[Install]
WantedBy=multi-user.target
