[Unit]
Description=glance-registry
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start glance-registry || docker run --detach=true --link=salt-master:salt --name=glance-registry glance-registry'
ExecStop=/bin/bash  -c 'docker stop  glance-registry'

[Install]
WantedBy=multi-user.target
