[Unit]
Description=nova-objectstore
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start nova-objectstore || docker run --detach=true --link=salt-master:salt --name=nova-objectstore nova-objectstore'
ExecStop=/bin/bash  -c 'docker stop  nova-objectstore'

[Install]
WantedBy=multi-user.target
