[Unit]
Description=sensu-api
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start sensu-api || docker run --detach=true --link=salt-master:salt --name=sensu-api sensu-api'
ExecStop=/bin/bash  -c 'docker stop  sensu-api'

[Install]
WantedBy=multi-user.target
