[Unit]
Description=radosgw
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start radosgw || docker run --detach=true --link=salt-master:salt --name=radosgw radosgw'
ExecStop=/bin/bash  -c 'docker stop  radosgw'

[Install]
WantedBy=multi-user.target
