[Unit]
Description=nova-cells
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start nova-cells || docker run --detach=true --link=salt-master:salt --name=nova-cells nova-cells'
ExecStop=/bin/bash  -c 'docker stop  nova-cells'

[Install]
WantedBy=multi-user.target
