[Unit]
Description=ceph-mon
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start ceph-mon || docker run --detach=true --link=salt-master:salt --name=ceph-mon ceph-mon'
ExecStop=/bin/bash  -c 'docker stop  ceph-mon'

[Install]
WantedBy=multi-user.target
