[Unit]
Description=keystone
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start keystone || docker run --detach=true --link=salt-master:salt --name=keystone keystone'
ExecStop=/bin/bash  -c 'docker stop  keystone'

[Install]
WantedBy=multi-user.target
