[Unit]
Description=nova-compute-lxc
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start nova-compute-lxc || docker run --detach=true --link=salt-master:salt --name=nova-compute-lxc nova-compute-lxc'
ExecStop=/bin/bash  -c 'docker stop  nova-compute-lxc'

[Install]
WantedBy=multi-user.target
