[Unit]
Description=cinder-scheduler
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start cinder-scheduler || docker run --detach=true --link=salt-master:salt --name=cinder-scheduler cinder-scheduler'
ExecStop=/bin/bash  -c 'docker stop  cinder-scheduler'

[Install]
WantedBy=multi-user.target
