[Unit]
Description=trove-taskmanager
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start trove-taskmanager || docker run --detach=true --link=salt-master:salt --name=trove-taskmanager trove-taskmanager'
ExecStop=/bin/bash  -c 'docker stop  trove-taskmanager'

[Install]
WantedBy=multi-user.target
