[Unit]
Description=grafana
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start grafana || docker run --detach=true --link=salt-master:salt --name=grafana grafana'
ExecStop=/bin/bash  -c 'docker stop  grafana'

[Install]
WantedBy=multi-user.target
