[Unit]
Description=sensu-dashboard
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start sensu-dashboard || docker run --detach=true --link=salt-master:salt --name=sensu-dashboard sensu-dashboard'
ExecStop=/bin/bash  -c 'docker stop  sensu-dashboard'

[Install]
WantedBy=multi-user.target
