[Unit]
Description=swift-account
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start swift-account || docker run --detach=true --link=salt-master:salt --name=swift-account swift-account'
ExecStop=/bin/bash  -c 'docker stop  swift-account'

[Install]
WantedBy=multi-user.target
