[Unit]
Description=kibana
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start kibana || docker run --detach=true --link=salt-master:salt --name=kibana kibana'
ExecStop=/bin/bash  -c 'docker stop  kibana'

[Install]
WantedBy=multi-user.target
