[Unit]
Description=redis-server
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start redis-server || docker run --detach=true --link=salt-master:salt --name=redis-server redis-server'
ExecStop=/bin/bash  -c 'docker stop  redis-server'

[Install]
WantedBy=multi-user.target
