[Unit]
Description=nova-novncproxy
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start nova-novncproxy || docker run --detach=true --link=salt-master:salt --name=nova-novncproxy nova-novncproxy'
ExecStop=/bin/bash  -c 'docker stop  nova-novncproxy'

[Install]
WantedBy=multi-user.target
