[Unit]
Description=influxdb
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start influxdb || docker run --detach=true --link=salt-master:salt --name=influxdb influxdb'
ExecStop=/bin/bash  -c 'docker stop  influxdb'

[Install]
WantedBy=multi-user.target
