[Unit]
Description=hadoop-hdfs-secondarynamenode
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start hadoop-hdfs-secondarynamenode || docker run --detach=true --link=salt-master:salt --name=hadoop-hdfs-secondarynamenode hadoop-hdfs-secondarynamenode'
ExecStop=/bin/bash  -c 'docker stop  hadoop-hdfs-secondarynamenode'

[Install]
WantedBy=multi-user.target
