[Unit]
Description=swift-proxy
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start swift-proxy || docker run --detach=true --link=salt-master:salt --name=swift-proxy swift-proxy'
ExecStop=/bin/bash  -c 'docker stop  swift-proxy'

[Install]
WantedBy=multi-user.target
