[Unit]
Description=fleet
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start fleet || docker run --detach=true --link=salt-master:salt --name=fleet fleet'
ExecStop=/bin/bash  -c 'docker stop  fleet'

[Install]
WantedBy=multi-user.target
