[Unit]
Description=hbase-regionserver
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start hbase-regionserver || docker run --detach=true --link=salt-master:salt --name=hbase-regionserver hbase-regionserver'
ExecStop=/bin/bash  -c 'docker stop  hbase-regionserver'

[Install]
WantedBy=multi-user.target
