[Unit]
Description=node-giraffe-web
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start node-giraffe-web || docker run --detach=true --link=salt-master:salt --name=node-giraffe-web node-giraffe-web'
ExecStop=/bin/bash  -c 'docker stop  node-giraffe-web'

[Install]
WantedBy=multi-user.target
