[Unit]
Description=nova-spiceproxy
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start nova-spiceproxy || docker run --detach=true --link=salt-master:salt --name=nova-spiceproxy nova-spiceproxy'
ExecStop=/bin/bash  -c 'docker stop  nova-spiceproxy'

[Install]
WantedBy=multi-user.target
