[Unit]
Description=ceph-mds
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start ceph-mds || docker run --detach=true --link=salt-master:salt --name=ceph-mds ceph-mds'
ExecStop=/bin/bash  -c 'docker stop  ceph-mds'

[Install]
WantedBy=multi-user.target
