[Unit]
Description=swift-container
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start swift-container || docker run --detach=true --link=salt-master:salt --name=swift-container swift-container'
ExecStop=/bin/bash  -c 'docker stop  swift-container'

[Install]
WantedBy=multi-user.target
