[Unit]
Description=nova-cert
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start nova-cert || docker run --detach=true --link=salt-master:salt --name=nova-cert nova-cert'
ExecStop=/bin/bash  -c 'docker stop  nova-cert'

[Install]
WantedBy=multi-user.target
