[Unit]
Description=graphite-web
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start graphite-web || docker run --detach=true --link=salt-master:salt --name=graphite-web graphite-web'
ExecStop=/bin/bash  -c 'docker stop  graphite-web'

[Install]
WantedBy=multi-user.target
