[Unit]
Description=salt-master
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start salt-master || docker run --detach=true --name=salt-master salt-master'
ExecStop=/bin/bash  -c 'docker stop  salt-master'

[Install]
WantedBy=multi-user.target
