[Unit]
Description=ironic-api
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start ironic-api || docker run --detach=true --link=salt-master:salt --name=ironic-api ironic-api'
ExecStop=/bin/bash  -c 'docker stop  ironic-api'

[Install]
WantedBy=multi-user.target
