[Unit]
Description=cinder-backup
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start cinder-backup || docker run --detach=true --link=salt-master:salt --name=cinder-backup cinder-backup'
ExecStop=/bin/bash  -c 'docker stop  cinder-backup'

[Install]
WantedBy=multi-user.target
