[Unit]
Description=trove-api
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start trove-api || docker run --detach=true --link=salt-master:salt --name=trove-api trove-api'
ExecStop=/bin/bash  -c 'docker stop  trove-api'

[Install]
WantedBy=multi-user.target
