[Unit]
Description=zookeeper-server
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start zookeeper-server || docker run --detach=true --link=salt-master:salt --name=zookeeper-server zookeeper-server'
ExecStop=/bin/bash  -c 'docker stop  zookeeper-server'

[Install]
WantedBy=multi-user.target
