ldap {
  com.sun.security.auth.module.LdapLoginModule REQUIRED
    userProvider="ldap://ldap01.ad.navteq.com/ou=HQ,dc=ad,dc=navteq,dc=com"
    authIdentity="cn={USERNAME},ou=HQ,dc=ad,dc=navteq,dc=com"
    userFilter="(&(|(samAccountName={USERNAME})(userPrincipalName={USERNAME})(cn={USERNAME}))(objectClass=user))"
    useSSL=false
    debug=true;
  };

unix {
  com.sun.security.auth.module.UnixLoginModule REQUIRED;
  };
