[Unit]
Description=logstash
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start logstash || docker run --detach=true --link=salt-master:salt --name=logstash logstash'
ExecStop=/bin/bash  -c 'docker stop  logstash'

[Install]
WantedBy=multi-user.target
