[Unit]
Description=etcd
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start etcd || docker run --detach=true --link=salt-master:salt --name=etcd etcd'
ExecStop=/bin/bash  -c 'docker stop  etcd'

[Install]
WantedBy=multi-user.target
