[Unit]
Description=elasticsearch
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start elasticsearch || docker run --detach=true --link=salt-master:salt --name=elasticsearch elasticsearch'
ExecStop=/bin/bash  -c 'docker stop  elasticsearch'

[Install]
WantedBy=multi-user.target
