[Unit]
Description=apt-cacher-ng
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start apt-cacher-ng || docker run --detach=true --link=salt-master:salt --name=apt-cacher-ng apt-cacher-ng'
ExecStop=/bin/bash  -c 'docker stop  apt-cacher-ng'

[Install]
WantedBy=multi-user.target
