[Unit]
Description=heat-engine
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start heat-engine || docker run --detach=true --link=salt-master:salt --name=heat-engine heat-engine'
ExecStop=/bin/bash  -c 'docker stop  heat-engine'

[Install]
WantedBy=multi-user.target
