[Unit]
Description=ceilometer-api
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start ceilometer-api || docker run --detach=true --link=salt-master:salt --name=ceilometer-api ceilometer-api'
ExecStop=/bin/bash  -c 'docker stop  ceilometer-api'

[Install]
WantedBy=multi-user.target
