[Unit]
Description=nova-api-metadata
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start nova-api-metadata || docker run --detach=true --link=salt-master:salt --name=nova-api-metadata nova-api-metadata'
ExecStop=/bin/bash  -c 'docker stop  nova-api-metadata'

[Install]
WantedBy=multi-user.target
