[Unit]
Description=ironic-conductor
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start ironic-conductor || docker run --detach=true --link=salt-master:salt --name=ironic-conductor ironic-conductor'
ExecStop=/bin/bash  -c 'docker stop  ironic-conductor'

[Install]
WantedBy=multi-user.target
