[Unit]
Description=hadoop-hdfs-journalnode
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start hadoop-hdfs-journalnode || docker run --detach=true --link=salt-master:salt --name=hadoop-hdfs-journalnode hadoop-hdfs-journalnode'
ExecStop=/bin/bash  -c 'docker stop  hadoop-hdfs-journalnode'

[Install]
WantedBy=multi-user.target
