[Unit]
Description=openstack-dashboard
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start openstack-dashboard || docker run --detach=true --link=salt-master:salt --name=openstack-dashboard openstack-dashboard'
ExecStop=/bin/bash  -c 'docker stop  openstack-dashboard'

[Install]
WantedBy=multi-user.target
