[Unit]
Description=node-redis-commander
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start node-redis-commander || docker run --detach=true --link=salt-master:salt --name=node-redis-commander node-redis-commander'
ExecStop=/bin/bash  -c 'docker stop  node-redis-commander'

[Install]
WantedBy=multi-user.target
