[Unit]
Description=glance-api
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start glance-api || docker run --detach=true --link=salt-master:salt --name=glance-api glance-api'
ExecStop=/bin/bash  -c 'docker stop  glance-api'

[Install]
WantedBy=multi-user.target
