[Unit]
Description=cinder-api
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start cinder-api || docker run --detach=true --link=salt-master:salt --name=cinder-api cinder-api'
ExecStop=/bin/bash  -c 'docker stop  cinder-api'

[Install]
WantedBy=multi-user.target
