[Unit]
Description=cloudera-cm4-server
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c 'docker start cloudera-cm4-server || docker run --detach=true --link=salt-master:salt --name=cloudera-cm4-server cloudera-cm4-server'
ExecStop=/bin/bash  -c 'docker stop  cloudera-cm4-server'

[Install]
WantedBy=multi-user.target
